<h2>Browse our Items</h2>
<div id="item-show">
	</div>
<div id="item-carousel" class="owl-carousel owl-theme">

<% @items_list.each do |i_item| %>
	<div class="item">
		<% if i_item.image.nil? %>
  		<img src="<%= image_path('default.png') %>" class="img-responsive" alt="Responsive image">
		<% else %>
			<img src="<%= image_path(i_item.image) %>" class="img-responsive" alt="Responsive image">
		<% end %>
		<h6><%= i_item.name %></h6>
	</div>
	<div class="item">
		<% if i_item.image.nil? %>
  		<img src="<%= image_path('default.png') %>" class="img-responsive" alt="Responsive image">
		<% else %>
			<img src="<%= image_path(i_item.image) %>" class="img-responsive" alt="Responsive image">
		<% end %>
		
		<h6><%= i_item.name %></h6>
	</div>
	<div class="item">
		<% if i_item.image.nil? %>
  		<img src="<%= image_path('default.png') %>" class="img-responsive" alt="Responsive image">
		<% else %>
			<img src="<%= image_path(i_item.image) %>" class="img-responsive" alt="Responsive image">
		<% end %>
		
		<h6><%= i_item.name %></h6>
	</div>
<% end %> 
</div>