<h2>Browse our Items</h2>
<!-- <div id="search-bar">
	<div class="search-label">
		Browse our Items
	</div> -->
	<div>
		<input id="item-filter" type="text" placeholder="Filter Items"/>
	</div>
<!-- </div> -->

<script>
	itemList = <%= raw @items_list.to_json %>
</script>

<div id="item-view">
	<% @items_list.each_with_index do |i_item, index| %>

		<% if user_signed_in? && inCart?(i_item.id) > 0
			q_inCart = inCart?(i_item.id) %>
			<div class="item-tile in-cart" data-index=<%= index %>, data-toggled=0>
			<div class="in-cart-number">
				<%= q_inCart %>
			</div>
		<% elsif i_item.stock > 0 %>
			<div class="item-tile" data-index=<%= index %>, data-toggled=0>
		<% else %>
			<div class="item-tile out-of-stock" data-index=<%= index %>, data-toggled=0>
					<div class="out-of-stock-banner">
						Out of stock
					</div>
		<% end %>

				<% if i_item.image.nil? %>
		  		<img src="<%= image_path('default.png') %>" class="img-responsive" >
				<% else %>
					<img src="<%= image_path(i_item.image) %>" class="img-responsive" >
				<% end %>
				<div class="item-name"><%= i_item.name %></div>
				<div class="expanded-info">
					<div class="form">
						<%= form_tag url_for(:controller => "home", :action => "addItemToCart"), :method => "post" do %>
							<%= hidden_field_tag(:itemId, i_item.id) %>
							<%= hidden_field_tag(:itemQuantity, 1) %>
							<%= submit_tag "Add To Cart", :action => 'addItemToCart', :controller => 'home', :class => "kariton-btn", :disabled => (i_item.stock == 0) %> 
						<% end %>
					</div>
					<div class="description">
							<%= i_item.description %>
					</div>


				</div>

		</div>
	<% end %> 
</div>