<div class= "row">
	<div class="col-md-12">
		<div id="item-tools">
			<!-- <div class="row"> -->
				<div class="col-md-6 col-sm-12 col-xs-12 item-tool-row">
					<div style="float:left">
						<input class="form-control" id="item-filter" type="text" placeholder="Filter Items"/>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 item-tool-row">
					<% if user_signed_in? %>
						<span style="float:right">
							<ul>
								<% if @cart_quantity == 0 %>
									<li><a id="view-cart-tool" class="tool"></span> View Cart <div class="notif zero"><%= @cart_quantity %></div></a></li>
								<% else %>
									<li><a id="view-cart-tool" class="tool"></span> View Cart <div class="notif"><%= @cart_quantity %></div></a></li>
								<%end%>
								<li><a id="show-all-tool" class="tool active right">Show All Items</a></li>
							</ul>
						</span>
					<% end %>
				</div>
		</div>
	</div>
</div>
<!-- </div> -->

<script>
	dateFilter = undefined;
	itemList = <%= raw @items_list.to_json %>
</script>

<div id="item-view">
	<% @items_list.each_with_index do |i_item, index| %>

		<% if user_signed_in? && inCart?(i_item.id)[0] > 0
			q_inCart = inCart?(i_item.id)[0] %>
			<div class="item-tile in-cart" data-index=<%= index %>, data-toggled=0>
		<!-- 	<div class="in-cart-number">
				<%= q_inCart %> in cart
			</div> -->
		<% elsif i_item.stock > 0 %>
			<div class="item-tile" data-index=<%= index %>, data-toggled=0>
		<% else %>
			<div class="item-tile out-of-stock" data-index=<%= index %>, data-toggled=0>
			<div class="out-of-stock-banner">
				Out of stock
			</div>
		<% end %>
				<div class="item-image">
					<% if i_item.image.nil? %>
			  		<img src="<%= image_path('default.png') %>" class="img-responsive" >
					<% else %>
						<img src="<%= image_path(i_item.image) %>" class="img-responsive" >
					<% end %>
				</div>
				<div class="item-name"><%= i_item.name %></div>
				<div class="price-tag">
							P<%= number_with_precision(i_item.price, :precision => 2, :delimiter => ',') %>
				</div>
				<div class="expanded-info">
					<div class="description">
							<%= i_item.description %>
					</div>
					<div class="stock-count">
						<% if i_item.stock == 0%>
							Out of stock
						<% else %>
							<strong><%= i_item.stock %></strong> in stock
						<% end %>
					</div>
					<% if user_signed_in? && inCart?(i_item.id)[0] > 0
						q_inCart = inCart?(i_item.id)[0] %>
						<!-- <div class="item-tile in-cart" data-index=<%= index %>, data-toggled=0> -->
						<div class="in-cart-count">
							You have <strong><%= q_inCart %></strong> in cart
						</div>
					<% end %>

					<div class="form">
						<div class="add-item">
							<%= form_tag url_for(:controller => "home", :action => "addItemToCart"), :method => "post" do |f| %>
								<%= hidden_field_tag(:itemId, i_item.id) %>
								<% if i_item.stock > 0 %>
									<%= number_field(:item, :quantity, :value => 1, in: 1..i_item.stock, step: 1, :class => "item-quantity") %>
								<% end %>
								<% if user_signed_in? && inCart?(i_item.id)[0] > 0 %>
									<%= submit_tag "Add More To Cart", :action => 'addItemToCart', :controller => 'home', :class => "kariton-btn", :disabled => (i_item.stock == 0) %> 
								<% elsif %>
									<%= submit_tag "Add To Cart", :action => 'addItemToCart', :controller => 'home', :class => "kariton-btn", :disabled => (i_item.stock == 0) %> 
								<%end %>
							<% end %>
						</div>

						<% if user_signed_in? && inCart?(i_item.id)[0] > 0
							q_inCart = inCart?(i_item.id) %>
							<div class="remove-item">
								<%= form_tag url_for(:controller => "home", :action => "removeItemFromCart"), :method => "post" do |f| %>
									<%= hidden_field_tag(:cartItemId, q_inCart[1]) %>
									<%= submit_tag "Remove from Cart", :action => 'addItemToCart', :controller => 'home', :class => "kariton-btn remove-btn" %> 
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
		</div>
	<% end %> 
</div>

<% if user_signed_in? %>
	<div id="cart-view">
		<%= form_tag url_for(:controller => "home", :action => "clearCart"), :method => "post" do %>
			<%= hidden_field_tag(:cart_id, @cart.id) %>
			<%= button_tag "", :id => "cart-clear", :class => "gray-button", :disabled => (@cart_quantity == 0) do%>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			<% end %> 
		<% end %>

		<%= form_tag url_for(:controller => "home", :action => "checkoutView"), :method => "post" do %>
			<%= button_tag "", :id => "cart-check-out", :class => "gray-button", :disabled => (@cart_quantity == 0) do%>
				Check out Cart
			<% end %> 
		<% end %>

		<div id="cart-total">
			Cart Total: P<%= number_with_precision(@cart.total, :precision => 2, :delimiter => ',') %>
		</div>
	</div>
<% end %>

<div class="filler"></div>